@import "src/styles/_variables";

.order-list {
  background-color: $base-white;
  box-shadow: $box-shadow;
  border-radius: 10px;
  margin-bottom: 20px;

  &__title {
    padding: 20px 0 10px 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: $text-color;
  }
}