$base-white: #FFFFFF;
$base-black: #000000;
$header-bg: #987284;
$section-revenue: #75B9BE;
$section-orders: #D0D6B5;
$section-reviews: #F9B5AC;
$section-customers: #EE7674;
$text-color: #605d5d;
$box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);