$primary-text: #585280;
$secondary-text: #b2bfe1;
$side-bar-text: #aaa5a5;
$side-bar-bg: #f8f8f8;
$base-white: #ffffff;
$btn-color: linear-gradient(122deg, rgb(128, 74, 216) 0%, rgb(98, 75, 217) 100%);
$status-green: #75c282;
$status-yellow: #ffd056;
$status-red: #f17e7e;
$border: #bebebe38;

$side-bar-hover: rgba(0, 0, 0, 0.1);

//dark-mode
$dark-side-bar: #2c2839;
$dark-content: #302c40;

