.blog {
  background-color: #D9D9D9;
  padding: 17px 25px 16px 26px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}